@charset "utf-8"; 

/* *******************************************************************************
Desenvolvido
Henrique Marchioni  -  Tecnologia em Sistemas para internet - Fatec Rubens lara
**********************************************************************************
*/

.dino {
    width: 60px;
    height: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-color: red;
    left: 1000px;
}