@charset "utf-8"; 

/* *******************************************************************************
Desenvolvido por                                              
Henrique Marchioni  -  Tecnologia em Sistemas para internet - Fatec Rubens lara
**********************************************************************************
*/

body {
    background-color: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../imagens/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(../imagens/cactus.png);
    left: 1000px;
}

h1 {  /* GAME -OVER */
    text-align: center;
    color: black;
    margin-top: 50px;
    font-family: Arial;
    font-size: 10em;
}

@keyframes fundoParaEsquerda {
    from {
        background-position: 70000%;}
    to { background-position: 0;}
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(../imagens/background.png);
    background-repeat: repeat-x;
    animation: fundoParaEsquerda 600s infinite linear;
    width: 100%;
    height: 200px;
}
